a:link
{
	color: #000;
}
a:visited
{
	color: #FFF;
} 
a:hover
{
	color: #f00;
	
}
a:active 
{
	color: #FFF;
}
body
{
	font-family: Arial; 
	background-color: #00F;
	color: #000;
	font size 12pt
}

h1, h2, h3, h4, h5, h6
{
	font-family:Arial,
}
h1
{
	color: #000;
	margin: 0;
	padding: 0;	
	font-size:42;
}
h2
{
	color: #FFF;
	margin: 0;
	padding: 0;
}
h3
{
	color: #FFF;
}
h4
{
	color: #FFF;
}
h5
{
	color:#9f3;
}
h6
{
	color: #FFF;
}
header { /*header section*/
position: absolute;
width: 95%;
height: 13.5%;
left: 1%;
top: 1%;
background-color:#FFA900;
padding: 1px 15px;
border:2px solid #000;
border-radius:5px;
}
header h1{ /*heading rule in header section*/
padding-top: 29px;
text-align: center;
font-color: #000;
}

nav { /*navigation section*/
position: absolute;
width: 12.7%;
height: 70.5%;
left: 1%;
top: 15%;
background-color: #FD0006;
border:2px solid #000;
border-radius:5px;
}
nav ul { /*navigation text allignment in navigation section*/
	margin-top:50;
	padding:0;
	list-style-type: none;
	text-align: center;
}
nav a { /*navigtation display in the navigation section*/
	display:block;
	padding:5px;
	border-bottom: 1px #000 solid;
	border-top: 1px #000 solid;
	text-decoration: none;
	font-size: 1.3em
}
nav a:hover{ /*navigation display on hover*/
background-color: #FF7100;
color:#000;
}
section { /*section*/
position: absolute;
width: 71%;
height: 69.5%;
left: 14%;
top: 15%;
background-color: #FF7100;
overflow:auto;
padding: 4px;
border:2px solid #000;
border-radius:5px;
}
article{ /*article*/
position: absolute;
width: 12%;
height:70%;
left: 85.8%;
top: 15%;
background-color: #FF7000;
padding: 4px;
border:2px solid #000;
border-radius:5px;
}
footer {
position: absolute;
width: 96.8%;
height: 13%;
left: 1%;
top: 85.4%;
background-color: #FF7100;
padding: 4px;
border:2px solid #000;
border-radius:5px;
}
#col1 {
	width:48%;
	float: left;
}
#col2 {
	width:48%;
	float: right;
}
#loginimages {
position:absolute;
width: 20%;
height: 40%;
left: 12%;
top: 22%;
background-color: ##FF7100;
}
#login {
position:absolute;
width: 40%;
height: 67%;
left: 48%;
top: 22%;
background-color: ##FF7100;
}
#contact{ 
position: absolute;
width: 85%;
height: 70%;
left: 4%;
top: 4%;
background-color: #FF7100;
padding: 4px;
}
#UKclock{
position: absolute;
width: 71%;
height: 10%;
left: 1%;
top: 80%;
background-color: #FF7100;
padding: 4px;
}
#Bclock{
position: absolute;
width: 71%;
height: 10%;
left: 11%;
top: 80%;
background-color: #FF7100;
padding: 4px;
}
#greeting{
position: absolute;
width: 71%;
height: 1%;
left: 1%;
top: 40%;
background-color: #FF7100;
padding: 4px;
}